header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1d8c3;
  box-shadow: rgba(193, 216, 195, 0.4) 0px 5px,
    rgba(193, 216, 195, 0.3) 0px 10px, rgba(193, 216, 195, 0.2) 0px 15px,
    rgba(193, 216, 195, 0.1) 0px 20px, rgba(193, 216, 195, 0.05) 0px 25px;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #cd5c08;
}

.logo > div,
.logo > span {
  font-size: 2.5rem;
  font-weight: 700;
}

.logo > div {
  font-family: "Dancing Script", cursive;
}

ul {
  display: flex;
  gap: 32px;
}

li {
  list-style-type: none;
}

li > a {
  font-size: 2rem;
}

li > a.active {
  color: #cd5c08;
  text-decoration: underline;
  font-weight: 700;
}

.cart-logo {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
}

.cart-logo > .material-symbols-outlined {
  position: relative;
  top: 4px;
  z-index: 1;
  font-size: 2rem;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  display: block;
  text-align: center;
  background-color: #cd5c08;
  color: black;
}
