.product {
  padding: 32px;
  /* display: flex;
  flex-direction: column; */
  gap: 16px;
}

.product > a {
  padding: 8px 0;
}

.product > a:hover {
  text-decoration: underline;
  font-weight: 700;
}